<!-- /templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="UTF-8"> 
	<title>Pretty JSON Data</title> 
	<link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">
 
</head>

<body>
 
	
	<p class="fade-in">Hover over this text to see it fade in.</p>
<div class="slide-in">Hover over this div to see it slide in.</div>
<button class="color-change">Hover over this button to see the color change.</button>

<div class="bounce">This text will bounce continuously.</div>
<div class="rotate">This element will rotate continuously.</div>
<div class="pulse">This element will pulse continuously.</div>
<div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>
</body>
</html>
 
 
