<div class="form-container">
		<form action="/search" method="POST">
			<label for="search">Search:</label>
			<input type="text" id="search" name="searchstring1">
			<input type="submit" value="Find All">
			
			<button class="btnBlue" type="submit" value="🛠️" name="searchstring2"> Find in 🛠️</button>
 			<button class="btnBlue" type="submit" value="💲" name="searchstring2"> Find in 💲</button>
			<button class="btnBlue" type="submit" value="🎯" name="searchstring2"> Find in 🎯</button>	
			<button class="btnBlue" type="submit" value="📚" name="searchstring2"> Find in 📚</button>	
<!--			
			<button class="btnBlue" type="submit" value="📝" name="searchstring2"> Find in 📝</button>
 			<button class="btnBlue" type="submit" value="💪" name="searchstring2"> 💪 PHY</button>
--><br>
			<label class="notFound blinking-text">{{ searchResult_0 }}</label><label class="found blinking-text" >{{ searchResult_1 }} </label>
		</form> 		

		<form class="form-quickSearch" action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="⚠️🛠️">
			<button type="submit"><span class="bare">⚠️</span>🛠️ DO !</button>
		</form> <!--  value=" DO THIS " class="enlarge"  style="background-color: OrangeRed ;" -->
		

		<form class="form-quickSearch" action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="👌🛠️">
			<button type="submit">👌🛠️ Do Soon</button>
		</form> <!--  value=" DO THIS " class="enlarge"  style="background-color: OrangeRed ;" -->
		&nbsp
  		<form class="form-quickSearch" action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="⚠️💲">
			<button   type="submit" ><span class="bare">⚠️</span>💲 PAY !</button>
		</form>

  		<form class="form-quickSearch" action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="👌💲">
			<button   type="submit" >👌💲 Pay Soon</button>
		</form> &nbsp
		<form class="form-quickSearch " action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="⚠️🎯">
			<button class="btnYellow food" type="submit" ><span class="bare">⚠️</span>🎯GOAL </button>
		</form>	
		
	    <form class="form-quickSearch " action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="👌🎯">
			<button class="btnYellow food" type="submit" >👌🎯Goal </button>
		</form>	&nbsp 
 
		
  		<form class="form-quickSearch" action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="⚠️📚">
			<button class="btnLime" type="submit" ><span class="bare">⚠️</span>📚D11N!</button>
		</form>
		
		<form class="form-quickSearch" action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="👌📚">
			<button class="btnLime" type="submit" >👌📚D11n</button>
		</form>	&nbsp&nbsp
<!--
		<form class="form-quickSearch" action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="👀See">
			<button class="btnBlue" type="submit" >👀See</button>
		</form>
		
		<form class="form-quickSearch" action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="🤡Gamify">
			<button class="btnLime" type="submit" >🤡Gamify</button>
		</form>
-->

	</div> 		
 <div class="form-container">
 Word Search 👉 
		<form class="form-quickSearch" action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="_momeh">
			<button class="btnWheat" type="submit" >_momeh 👋</button>
		</form>
		<form class="form-quickSearch" action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="_dadeh">
			<button class="btnTan" type="submit" >_dadeh 👋</button>
		</form>
	
		<form class="form-quickSearch" action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="_yomi">
			<button class="btnWheat" type="submit" >_yomi 👋</button>
		</form>
		<form class="form-quickSearch" action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="_zach">
			<button class="btnWheat" type="submit" >_zach 👋</button>
		</form>
 		<form class="form-quickSearch" action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="_amor">
			<button class="btnWheat" type="submit" >_amor 👋</button>
		</form>
<!-- 
 		<form class="form-quickSearch" action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="_credit">
			<button class="btnLime" type="submit" >_credit 💸👍</button>
		</form>
 -->
   		<form class="form-quickSearch" action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="_new">
			<button class="btnLime" type="submit" >_new 🛠️ </button>
		</form>
<!-- 
		 <form class="form-quickSearch" action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="_p1">
			<button class="btnBlue" type="submit" > All p1 ☝️☝️☝️</button>
		</form>
		<form class="form-quickSearch" action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="_p2">
			<button class="btnBlue" type="submit" > All p2 ☝️☝️</button>
		</form>
		<form class="form-quickSearch" action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="_p3">
			<button class="btnBlue" type="submit" > All p3 ☝️</button>
		</form>
	
		<form class="form-quickSearch" action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="_tool">
			<button class="btnYellow" type="submit" >_tool 🛠️</button>
		</form>
		<form class="form-quickSearch " action="/search" method="POST">
			<input class="mini  solution" type="text" id="search" name="searchstring1" value="_solution">
			<button class="btnYellow solution" type="submit" >_solution 🧰</button>
		</form>	 
		
		<form class="form-quickSearch " action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="_food">
			<button class="btnYellow food" type="submit" >_food 🍽️</button>
		</form>		
		<form class="form-quickSearch " action="/search" method="POST">
			<input class="mini" type="text" id="search" name="searchstring1" value="✅📝">
			<button class="btnTan food" type="submit" >✅📝 D11n</button>
		</form>		
-->
 </div>
